@import "tailwindcss";

:root {
  --color-gray-default: #ffffff;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  --color-gray-950: #030712;
}

.dark {
  --color-gray-default: #030712;
  --color-gray-50: #111827;
  --color-gray-100: #1f2937;
  --color-gray-200: #374151;
  --color-gray-300: #4b5563;
  --color-gray-400: #6b7280;
  --color-gray-500: #9ca3af;
  --color-gray-600: #d1d5db;
  --color-gray-700: #e5e7eb;
  --color-gray-800: #f3f4f6;
  --color-gray-900: #f9fafb;
  --color-gray-950: #ffffff;
}

@custom-variant dark (&:is(.dark *));

@theme {
  --color-gray-default: rgb(var(--color-gray-default) / <alpha-value>);
  --color-gray-50: rgb(var(--color-gray-50) / <alpha-value>);
  --color-gray-100: rgb(var(--color-gray-100) / <alpha-value>);
  --color-gray-200: rgb(var(--color-gray-200) / <alpha-value>);
  --color-gray-300: rgb(var(--color-gray-300) / <alpha-value>);
  --color-gray-400: rgb(var(--color-gray-400) / <alpha-value>);
  --color-gray-500: rgb(var(--color-gray-500) / <alpha-value>);
  --color-gray-600: rgb(var(--color-gray-600) / <alpha-value>);
  --color-gray-700: rgb(var(--color-gray-700) / <alpha-value>);
  --color-gray-800: rgb(var(--color-gray-800) / <alpha-value>);
  --color-gray-900: rgb(var(--color-gray-900) / <alpha-value>);
  --color-gray-950: rgb(var(--color-gray-950) / <alpha-value>);

  --animate-drawer-open: open 0.3s ease-in-out;
  --animate-drawer-close: close 0.3s ease-in-out;
  --animate-waving-hand: waving 2s linear 3;

  @keyframes open {
    0% {
      opacity: 1;
      transform: translateX(100%);
    }
  }
  @keyframes close {
    to {
      opacity: 0;
      transform: translateX(100%);
    }
  }
  @keyframes waving {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}
body {
  --font-poppins: Poppins, sans-serif;
}

@layer components {
  .h1 {
    @apply text-4xl font-semibold text-gray-900 md:text-5xl md:font-bold md:tracking-[-0.02em] lg:text-6xl lg:leading-[72px];
  }

  .h2 {
    @apply text-lg font-semibold tracking-[-0.02em] text-gray-900 md:text-4xl;
  }

  .h3 {
    @apply text-2xl font-semibold tracking-[-0.02em] text-gray-900 md:text-3xl;
  }

  .subtitle {
    @apply text-lg text-gray-600 md:text-xl;
  }

  .body1 {
    @apply text-lg text-gray-600 md:text-lg;
  }

  .body2 {
    @apply text-base text-gray-600;
  }

  .body3 {
    @apply text-sm text-gray-600;
  }
}

/* Below is old design */
/* section {
  @apply m-[0_10rem] box-border h-[96vh] min-h-fit pt-[4vh];
} */
/* a:hover {
  @apply text-gray-600 underline decoration-gray-600 underline-offset-[1rem];
}

a,
button {
  @apply transition delay-150 duration-300;
}
p {
  @apply font-medium text-[#555555];
}

a,
button {
  @apply w-[9rem] rounded-[2rem] p-4 font-semibold;
}

button:hover {
  @apply cursor-pointer;
} */
/* .icon {
  @apply inline h-[2rem] w-[2rem];
} */

/* .profile-section {
  @apply flex h-[80vh] justify-center gap-[5rem];
} */
/* .contact-me-section {
  @apply flex h-[80vh] flex-col justify-center;
}
.details-container {
  @apply flex-1 justify-center rounded-[2rem] border-[0.1rem] border-[rgb(163,163,163)] bg-white p-[1.5rem] text-center decoration-gray-600;
} */
